/* ====== ESTILOS GENERALES ====== */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* Contenedor general */
section,
header,
article {
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

/* ====== ENCABEZADO ====== */
header {
  text-align: center;
  padding: 40px 20px;
  background-color: #0b4f8f;
  color: white;
  border-bottom: 4px solid #2886df;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 4px;
}

header h2 {
  margin: 5px 0 15px 0;
  font-weight: normal;
  font-size: 1.3rem;
}

header a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
}

header a:hover {
  color: #4692da;
}

/* ====== TITULARES DE SECCIÓN ====== */
h3 {
  border-left: 10px solid #0b4f8f;
  padding-left: 10px;
  margin: 10px;
  font-size: 1.3rem;
  color: #222222;
}

p {
  margin: 20px;
}

/* ====== LISTAS ====== */
ul {
  padding-left: 20px;
  margin: 25px;
}

ul li {
  margin-bottom: 6px;
}

/* ====== ARTÍCULOS DE EXPERIENCIA ====== */
.prueba{
    background: white;
    margin: ;
}
article {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

article p {
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #222;
}

article ul {
  margin-top: 0;
}

/* ====== ENLACES GENERALES ====== */
a {
  color: #0077cc;
}

a:hover {
  color: #005999;
}
