body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6d6d6d;
}
.opinion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.centro-salud {
  display: flex;
  align-items: center;
}

.texto-centro {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  & h3 {
    margin: 0;
  }
}

.texto-centro button {
  padding: 6px 14px;
  border-radius: 4px;
  border-width: 1px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 1px;
}

.texto-centro button:last-of-type {
  background: #666;
  border: 1px solid #666;
  color: #fff;
}

.comentarios-nota {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;

  & a {
    color: #4896eb;
    text-decoration: none;
  }

  & .nota {
    background: #a0a0a0;
    padding: 6px 6px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    color: #242323;
  }
}
