body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.opinion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Imagen + texto */
.centro-salud{
    display: flex;
    align-items: center;
}

.centro-salud img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
}

/* Texto */
.texto-centro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.texto-centro h3{
    margin: 0;
    color: #333;
}

.texto-centro p{
    margin: 4px 0 12px 0;
    color: #666; /* texto gris */
}

/* Botones dentro de texto-centro */
.texto-centro button{
    padding: 6px 14px;
    border-radius: 4px; /* borde ligeramente redondeado */
    border-width: 1px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 1px;
}

/* Botón Reservar cita */
.texto-centro button:first-of-type{
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

/* Botón Pedir presupuesto */
.texto-centro button:last-of-type{
    background: #666;
    border: 1px solid #666;
    color: #fff;
}

/* Comentarios + nota */
.comentarios-nota{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.comentarios-nota p{
    margin: 0;
    color: #666;
}

.comentarios-nota a{
    color: #007bff;
    font-size: 13px;
    text-decoration: none;
}

/* Nota (8.9) */
.nota{
    background: #a0a0a0;
    padding: 6px 6px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    color: #242323;
}